:root{
    --h-color: #242424; 
    --p-color: #676767;

    --green-button-color: #067A46;
    --white-button-color: white;
    
    --font-family: Agrandir, Verdana, Geneva, sans-serif;
}

body{
    margin: 0%;
    font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, sans-serif;
    overflow-x: hidden;
}

header{
    position: relative;
    padding-top: .8em;
}

/* img direct in de header (niet in list) */
header > img{
    
    margin-left: 50%;
    transform: translateX(-50%);
    height: 30px;
    width: auto;
    
     
}



/************/
/* HET MENU */
/************/
nav {
    position: absolute;
  }
  
  /***************/
  /* menu button */
  nav button {
    
    width:5em;
    height:2.5em;
    appearance:none;
    border:none;
    background-color: var(--white-button-color);
    position:relative;
    
  }
  
  nav button img{
    height: 20px;
    width: auto;
    /* button wordt klikbaar, foto niet. */
    pointer-events: none;
  }


  /*******************/
  /* lijst met links */
  nav ul { 
    margin:0; 
    padding:1em 0 0;
    background: white;
    list-style:none;
    position:fixed;
    left:0; top:0; bottom:0;
    transition:.5s;
    z-index:50;
    line-height: 1.5em;
    transform: translate(-100%);
  }
  
  nav.toonMenu ul {
    transform:translatex(0);
  }
  
  /************************/
  /* een link in de lijst */
  nav li {
    margin:0; padding:0;
    line-height: 2em;
    margin-right: 3em; 
  }

  nav a {
    display:flex;
    gap:.25em;
    padding:.25em 1em;
    border-top:solid 1px var(--menu-border-color);
    text-decoration: none;
    color: black;
  }

  /* nav a:hover:nth-child(1){
    background-color: #E8F8C5;
    color: var(--green-button-color);
    width: 90%;
} */

  nav a:hover{
      background-color: #E8F8C5;
      color: var(--green-button-color);
      width: 111%;
  }

nav ul li:first-child{
    font-family: var(--font-family);
    background-color: var(--white-button-color);
    border:  1px solid var(--green-button-color);
    border-radius: .4em;
    font-size: 15px;
    color: var(--green-button-color);
    text-align: center;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin-left: 50%;
    margin-bottom: 3em;
    transform: translateX(-50%);
    width: 90%;
    
}
  
nav ul li:first-of-type a{
    color: var(--green-button-color);
    flex-direction: row;
    justify-content: center;
}

nav ul li:first-of-type a:hover{
    background-color: #E8F8C5;
    color: var(--green-button-color);
    border-radius: .4em;
}
  


   header > div{
       /* 30% doorzichtig */
       background-color: rgba(0,0,0,0.3);
       position: fixed;
       left: 0; 
       top: 0;
       right: 0;
       bottom: 0;
       /* achter het menu dus over het scherm heen */
      z-index: 49;
      visibility: hidden;
      opacity: 0;
      transition: .3s;



}

header > div.toonMenu{
    visibility: visible;
    opacity: 1;
}


  







  

/* Hero section */
main section.uitgelicht { 
    position: relative;
    overflow-x: hidden;
}

main section.uitgelicht img:first-child {
    height: auto;
    width: 100%;
    margin-top: .5em;
    /* weten waarom 67 er staat!!  */
    box-shadow:0em -.15em .15em  #00000067;
 
      
}

main section.uitgelicht img:last-child {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 4em;
    display: flex;
    justify-content: center;
}

section.uitgelicht h1{
    font-family: var(--font-family);
    font-weight: lighter;
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%);
    font-size: 2em;
    width: 50%;
    height: 1.5em;
    display: flex;
    justify-content: center;
    
}

section.uitgelicht a { 
    font-family: var(--font-family);
    background-color: var(--green-button-color);
    transform: translate(-50%, -50%);
    border-radius: .4em;
    position: absolute;
    font-size: 1em;
    color: white;
    left: 50%;
    top: 69%; 
    text-decoration: none;
    padding: 10px 15px;
    
} 

section.uitgelicht a:hover{
    cursor: pointer;
    background-color: var(--white-button-color);
    color: var(--green-button-color) ;
}

section.uitgelicht a:focus{
    background-color: var(--white-button-color);
    color: var(--green-button-color);
    border:  1px solid var(--green-button-color);
}

section.uitgelicht p:nth-of-type(1){
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%);
    font-size: 2em;
    width: 50%;
    height: 1.5em;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px black;
    font-style: italic;
    
}

section.uitgelicht p:nth-of-type(2){
    position: absolute;
    text-align: center;
    top: 44%;
    left: 50%;
    transform: translate(-50%);
    font-size: .85em;
    width: 60%;
    height: 1.5em;
    color: #5c5b5b;
    
}

@keyframes hero-usp {
    0% {
        transform:none;
    }
    28% {
        transform: translateX(70vw);
    }
    30% {
        transform: translate(70vw);
        opacity: 0;
    }
    70% {
            transform: translate(-70vw);
            opacity: 0;
    }
    72% {
            transform: translateX(-70vw);
    }
    100% {
            transform: none;
    }

}


section.uitgelicht p span{
    position: absolute;
    animation-name: hero-usp;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

section.uitgelicht p span:nth-of-type(1){
    animation-delay: 0s ;

}

section.uitgelicht p span:nth-of-type(2){
    animation-delay: -2s ;
}

section.uitgelicht p span:nth-of-type(3) {
    animation-delay: -4s ;
}



.zowerkthet img:nth-of-type(1) {
    position: relative;
    margin-right: auto;
    margin-bottom: 2em;
    margin-left: auto;
    margin-top: 2em;
    display: block;
    width: 80%;
    
}

.zowerkthet img:nth-of-type(2) {
    position: relative;
    margin-right: auto;
    margin-bottom: 2em;
    margin-left: auto;
    margin-top: 2em;
    display: block;
    width: 80%;
    
}

.zowerkthet img:nth-of-type(3) {
    position: relative;
    margin-right: auto;
    margin-bottom: 2em;
    margin-left: auto;
    margin-top: 2em;
    display: block;
    width: 80%;
    
}

.zowerkthet img:nth-of-type(4) {
    position: relative;
    margin-right: auto;
    margin-bottom: 2em;
    margin-left: auto;
    margin-top: 2em;
    display: block;
    width: 80%;
    
}

.zowerkthet img:nth-of-type(5) {
    position: relative;
    margin-right: auto;
    margin-bottom: 2em;
    margin-left: auto;
    margin-top: 2em;
    display: block;
    width: 100%;
    height: 320px;

}





section.zowerkthet a {
    font-family: var(--font-family);
    background-color: var(--white-button-color);
    border:  1px solid var(--green-button-color);
    border-radius: .4em;
    font-size: 15px;
    color:rgb(42, 119, 42);
    margin-top: 2em;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 12px 18px;
    margin-left: 50%;
    transform: translateX(-50%);
    
}

section.zowerkthet a:hover{
    cursor: pointer;
    background-color: var(--green-button-color) ;
    color: var(--white-button-color) ;
}

section.zowerkthet a:focus{
    background-color: var(--white-button-color);
    color: var(--green-button-color);
    border:  1px solid var(--green-button-color);
}

h2{
    font-family: var(--font-family);
    font-weight: lighter;
    font-size: 1.75em;
    text-align: center;
    color: var(--h-color)
 
}

h3{
    font-family: var(--font-family);
    font-weight: lighter;
    font-size: 1.4em;
    text-align: center;
    color: var(--h-color); 
    
}

section.zowerkthet p{
    text-align: center;
    color: var(--p-color);
    margin: .1em;
    
}

section.goedVoorJouw {
    background-color: #fbfbfd;
    padding: 2em 1em;
}

section.goedVoorJouw h2{
    text-align: center;
    color: #000000;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
    font-size: 1em;
    line-height: 1em;
}


section.goedVoorJouw p{
    text-align: center;
    color: #000000;
    margin-bottom: 3em;
    font-size: .9em;
    line-height: 1.7em;
    
    
}

section.goedVoorJouw a{
    font-family: var(--font-family);
    background-color: var(--green-button-color);
    border-radius: .4em;
    font-size: 15px;
    color: var(--white-button-color);
    margin-top: 2em;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 12px 18px;
    margin-left: 50%;
    transform: translateX(-50%);
}



/* carrousel */

section.carrousel h2{
    font-family: var(--font-family);
    font-weight: 100;
    font-size: 1.5em;
    text-align: center;
    color: #242424;
    margin-top: 0;
   

}

section.carrousel{
	background-color:rgb(230, 230, 230);
    padding: 4em 0;
    background-image: url("../img/background-carrousel.png");
    background-size: cover;
    position: relative;
    
}

section.carrousel p{
    text-align: center;
    color: #000000;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
    font-size: .9em;
    line-height: 1.7em;
    
}

section.carrousel ul{
    list-style-type: none;
    overflow-x: scroll;
    margin:0;
    padding:0;
    width: 100%;
    white-space: nowrap;
    box-sizing: border-box;
}

section.carrousel ul li{
display: inline-flex;
width: 70vw;
margin: 0;
margin-left: .75em;
padding: 0;
}

section.carrousel ul li img{
    margin: 0;
    width: 90%;
    
    }

section.carrousel a{
    font-family: var(--font-family);
    background-color: var(--green-button-color);
    transform: translate(-50%, -50%);
    border-radius: .4em;
    position: absolute;
    font-size: 1em;
    color: white;
    left: 50%;
    top: 95.5%; 
    text-decoration: none;
    padding: 10px 15px;
    
} 

section.carrousel a:hover{
    cursor: pointer;
    background-color: var(--white-button-color);
    color: var(--green-button-color) ;
}

section.carrousel a:focus{
    background-color: var(--white-button-color);
    color: var(--green-button-color);
    border:  1px solid var(--green-button-color);
}


/* beoordeling */

section.beoordeling{
    padding: 4em 0;
    

}

section.beoordeling h2{
    font-family: var(--font-family);
    font-weight: 100;
    font-size: 1.3em;
    text-align: center;
    color: #242424;
    margin-top: 0;
}

section.beoordeling p{
    text-align: center;
    color: #000000;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    font-size: .9em;
    line-height: 1.7em;
}

section.beoordeling img:nth-of-type(1) {
    height: 60px;
    width: auto;
    margin-left: 50%;
    transform: translateX(-50%);
    
}
section.beoordeling img:nth-of-type(2) {
    width: 120px;
    height: auto;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 2em;
    
}

section.beoordeling img:nth-of-type(3) {
    height: 60px;
    width: auto;
    margin-left: 50%;
    transform: translateX(-50%);
}

section.beoordeling img:nth-of-type(4){
        width: 120px;
        height: auto;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-bottom: 2em;
}


/* Aan de slag */

section.aanDeSlag h2{
    font-family: var(--font-family);
    font-weight: 100;
    font-size: 1.7em;
    text-align: center;
    color: #242424;
    margin-top: 0;
}

section.aanDeSlag p{
    text-align: center;
    color: #000000;
    margin-bottom: 1em;
    margin-left: 3em;
    margin-right: 3em;
    font-size: .9em;
    line-height: 1.7em;
}

section.aanDeSlag a:nth-of-type(1) {

    font-family: var(--font-family);
    background-color: var(--green-button-color);
    border-radius: .4em;
    font-size: 15px;
    color: var(--white-button-color);
    display: inline-block;
    text-decoration: none;
    padding: 12px 18px;
    margin-left: 50%;
    transform: translateX(-50%);

} 
section.aanDeSlag a:hover:nth-of-type(1){
    cursor: pointer;
    background-color: var(--white-button-color);
    color: var(--green-button-color) ;
    }
    
    section.aanDeSlag a:focus:nth-of-type(1){
    background-color: var(--white-button-color);
    color: var(--green-button-color);
    border:  1px solid var(--green-button-color);
    }

section.aanDeSlag a:nth-of-type(2) {
        font-family: var(--font-family);
        background-color: var(--white-button-color);
        border:  1px solid var(--green-button-color);
        border-radius: .4em;
        font-size: 15px;
        color:rgb(42, 119, 42);
        margin-top: .5em;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        padding: 12px 18px;
        margin-left: 50%;
        transform: translateX(-50%);
        width: 80%;
        
    }
    
    section.aanDeSlag a:hover:nth-of-type(2){
        cursor: pointer;
        background-color: var(--green-button-color) ;
        color: var(--white-button-color) ;
    }
    
    section.aanDeSlag a:focus:nth-of-type(2){
        background-color: var(--white-button-color);
        color: var(--green-button-color);
        border:  1px solid var(--green-button-color);
    }





section.aanDeSlag hr{
    margin-top: 2em;
    border: .05em solid rgb(199, 199, 199);
    width: 100%; 
}  



/* Footer */
section.footer ul{
    color: var(--h-color);
    list-style: none;
    padding: 0;
    
}

section.footer li{
    line-height: 3em;
    border-top: .05em solid rgb(199, 199, 199);
    width: 100%;
}

section.footer li:nth-of-type(4){
    border-bottom: .05em solid rgb(199, 199, 199);
}

section.footer a{
    text-decoration: none;
    color: var(--h-color);
    margin-left: 2em;
    
}

section.footer li img{
    height: 2em;
    width: auto;
    float: right;
    margin-top: .5em;  
    
}

section.footer img{
    height: 3em;
    width: auto;
    margin-left: 50%;
    transform: translateX(-50%);
}

section.links{
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 90%;
    font-size: .85em;
    
}

section.links a{
    color: black;
}

section.links img{
    height: 1em;
    width: auto;
}



/* 2e pagina */


section.helpHoofdFoto img{
    height: auto;
    width: 100%;
    margin-top: .5em;
    /* weten waarom 67 er staat!!  */
    box-shadow:0em -.15em .15em  #00000067;
    position: relative;
}

section.helpHoofdFoto h1{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    font-size: 2em;
    width: 50%;
    height: 1.5em;
    display: flex;
    justify-content: center;
    font-family: Agrandir,sans-serif;
   

}

section.helpHoofdFoto p{
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%);
    font-size: 1em;
    width: 80%;
    height: 1.5em;
    display: flex;
    justify-content: center;
    font-family: Agrandir,sans-serif;
    
}

section.antwoord h2{
    font-size: 1.2em;
    margin: 2em;
    font-family: Agrandir,sans-serif;
}
section.antwoord ul{
    list-style: none;
    padding-left: 0;
}

section.antwoord li{
    color: black;
    border: .1em solid var(--green-button-color);
    padding: .8em 1em .8em 1em;
    text-align: center;
    margin: .85em;
    
}
section.antwoord a{
    text-decoration: none;
    color: black;
}

section.antwoord p{
    margin: 0;
}































































